# Python virtual environment
# Prevents uploading the large 'venv' folder.
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Generated output directories
# CRITICAL: This ignores model checkpoints (.pth) and generated images,
runs/
reports/

# Datasets

data/
